<nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #DEDEDE;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">DBMS VEHICLES FOR SALE</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Us </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vehicles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/otomobiles">Otomobiles</a>
          <a class="dropdown-item" href="/motorcycles">Motorcycles</a>
          <a class="dropdown-item" href="/watercrafts">Watercrafts</a>
          <a class="dropdown-item" href="/aircrafts">Aircrafts</a>
        </div>
      </li>
     
    </ul>


    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      {% if session["logged_in"] %}
      {% if session["isAdmin"] %}
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin Page </a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Log Out </a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="/login">Log In </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/register">Register </a>
      </li>
      {% endif %}

      
      

      

      
      
     
    </ul>
    
  </div>
</nav>