{% extends "layout.html" %}

{% block head %}
  <script type="text/javascript">
    const aircraftImages = [];
    
    var x = 0;

    function addImg(Img){
        aircraftImages.push(Img);
    }

    function next(){
             document.getElementById('otoImg')
             .src=aircraftImages[x];
             x++;
             x=x%aircraftImages.length;
    }

  </script>

{% endblock head %}



{% block body %}


{% if aircraft %}

{% for image in images %}
        <script type="text/javascript" language="JavaScript">
         addImg("templates/Images/{{image.image}}"); 
        </script>
        
         
{% endfor %}



<h2 > {{aircraft.title}}</h2>
<hr>
 
<div style="border-style: double; background-color: #ABBAEA;
  width: 1100px;margin-top: 10px;">
  
  <div style=" height: 600px;
  width: 600px;float: left;margin-top: 10px;">
	<!--image-->
  <img id="otoImg" onclick=next(); src="templates\Images\{{aircraft.cover_image}}"  width="600" height="600">
 
  
  

  </div>
  
  
  <div style="border-style: double; height: 600px;background-color: #7fc7af;
  width: 450px;float: right;margin-top: 10px;">

	<!--price-->
  <h4>
    Price: 

            <script type="text/javascript">
                function numberWithCommas(num) {
                    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                document.write(numberWithCommas({{aircraft.price}}));
            </script>
    
    <br>
    

    Year: {{aircraft.year}}<br>
    Color: {{aircraft.color}}<br>
    Width: {{aircraft.width}}<br>
    Max Altitude: 
    <script type="text/javascript">
                function numberWithCommas(num) {
                    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                document.write(numberWithCommas({{aircraft.max_altitude}}));
            </script><br>
    Body Type: {{aircraft.type}}<br>
    City: {{aircraft.city}}<br>
    District: {{aircraft.district}}<br>
    Seller Name: {{seller.name}}<br>
    Seller Phone Number: {{seller.phone_number}}<br>
    </h4>
  </div>
  
  
  <div style="border-style: double; 
  width: 1100px;float: left;margin-top: 30px;background-color: #EBEBEB; ;">
<h4>Description:</h4>
  <hr>
	<!--desc-->
    {{aircraft.description|safe}}

  </div>

  </div>

{% else %}
<div class = "alert alert-warning">
    There is no such aircraft advert.
</div>
{% endif %}

{% endblock body %}


