{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="templates/styles/o.css">
{% endblock head %}

{% block body %}
<h3>Dashboard</h3>

<small>Welcome, {{session["username"]}}</small>
<hr>




<div class="dropdown">
  <button class="btn btn-info dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add Advert
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="addotomobile">Add Otomobile</a>
    <a class="dropdown-item" href="addmotorcycle">Add Motorcycle</a>
    <a class="dropdown-item" href="addwatercraft">Add Watercraft</a>
    <a class="dropdown-item" href="addaircraft">Add Aircraft</a>
  </div>
</div>
<br><br><br><br><br><br><br>

{% if otomobiles %}
    <h5>Your otomobile adverts:</h5>
    <br>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Series</th>
            <th scope="col">Model</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            
        </tr>
        </thead>
        <tbody>
        {% for otomobile in otomobiles %}
  
        <tr  >
            <td>{{otomobile.id}}  </td>
            <th scope="row"><img  src="\templates\Images\{{otomobile.cover_image}}"  width="100" height="100"></th><!---->
            
            <td>{{otomobile.brand}}  </td>
            <td>{{otomobile.series}}</td>
            <td>{{otomobile.model}}</td>
            <td>{{otomobile.title}}</td>
            <td>{{otomobile.year}}</td>
            <td>{{otomobile.color}}</td>
            <td>
            
            
            <script type="text/javascript">
                function numberWithCommas(num) {
                    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                document.write(numberWithCommas({{otomobile.price}}));
            </script>
            </td>
            

            <td><a href="/otomobile/{{otomobile.id}}" class="btn btn-info" >Go To Advert</a></td>
            <td><a href="/editotomobile/{{otomobile.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deleteotomobile/{{otomobile.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>

        {% endfor %}
        
        </tbody>
    </table> 
    <!--
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Brand</th>
            <th scope="col">Series</th>
            <th scope="col">Model</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for otomobile in otomobiles %}
        <tr>
            <th scope="row">{{otomobile.id}}</th>
            <td><a href="/otomobile/{{otomobile.id}}">{{otomobile.brand}}</a></td>
            <td>{{otomobile.series}}</td>
            <td>{{otomobile.model}}</td>
            <td><a href="/editotomobile/{{otomobile.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deleteotomobile/{{otomobile.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        
        
        </tbody>
    </table> -->
{% else %}
{% endif %}


{% if motorcycles %}
    <br>
    <h5>Your motorcycle adverts:</h5>
    <br>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Type</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            
        </tr>
        </thead>
        <tbody>
        {% for motorcycle in motorcycles %}
  
        <tr  >
            <td>{{motorcycle.id}}  </td>
            <th scope="row"><img  src="\templates\Images\{{motorcycle.cover_image}}"  width="100" height="100"></th><!---->
            
            <td>{{motorcycle.brand}}  </td>
            
            <td>{{motorcycle.model}}</td>
            <td>{{motorcycle.type}}</td>
            <td>{{motorcycle.title}}</td>
            <td>{{motorcycle.year}}</td>
            <td>{{motorcycle.color}}</td>
            <td>
            
            
            <script type="text/javascript">
                function numberWithCommas(num) {
                    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                document.write(numberWithCommas({{motorcycle.price}}));
            </script>
            </td>
            
            
           
            <td><a href="/motorcycle/{{motorcycle.id}}" class="btn btn-info" >Go To Advert</a></td>
            <td><a href="/editmotorcycle/{{motorcycle.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deletemotorcycle/{{motorcycle.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>

        {% endfor %}
        
        </tbody>
    </table> 

    <!--
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Brand</th>
          
            <th scope="col">Model</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for motorcycle in motorcycles %}
        <tr>
            <th scope="row">{{motorcycle.id}}</th>
            <td><a href="/motorcycle/{{motorcycle.id}}">{{motorcycle.brand}}</a></td>
            
            <td>{{motorcycle.model}}</td>
            <td><a href="/editmotorcycle/{{motorcycle.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deletemotorcycle/{{motorcycle.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        
        
        </tbody>
    </table> -->
{% else %}
{% endif %}


{% if watercrafts %}
    <br>
    <h5>Your watercraft adverts:</h5>
    <br>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            
        </tr>
        </thead>
        <tbody>
        {% for watercraft in watercrafts %}
  
        <tr  >
            <td>{{watercraft.id}}  </td>
            <th scope="row"><img  src="\templates\Images\{{watercraft.cover_image}}"  width="100" height="100"></th><!---->
            
            <td>{{watercraft.title}}</td>
            <td>{{watercraft.year}}</td>
            <td>{{watercraft.color}}</td>
            <td>
            
            
            <script type="text/javascript">
                function numberWithCommas(num) {
                    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                document.write(numberWithCommas({{watercraft.price}}));
            </script>
            </td>

            
            <td><a href="/watercraft/{{watercraft.id}}" class="btn btn-info" >Go To Advert</a></td>
            <td><a href="/editwatercraft/{{watercraft.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deletewatercraft/{{watercraft.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>

        {% endfor %}
        
        </tbody>
    </table> 


    <!--
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for watercraft in watercrafts %}
        <tr>
            <th scope="row">{{watercraft.id}}</th>
            <td><a href="/watercraft/{{watercraft.id}}">{{watercraft.title}}</a></td>
            <td>{{watercraft.year}}</td>
            <td>{{watercraft.color}}</td>
            <td><a href="/editwatercraft/{{watercraft.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deletewatercraft/{{watercraft.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        
        
        </tbody>
    </table> -->
{% else %}
{% endif %}


{% if aircrafts %}

    <br>
    <h5>Your aircraft adverts:</h5>
    <br>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            
        </tr>
        </thead>
        <tbody>
        {% for aircraft in aircrafts %}
  
        <tr  >
            <td>{{aircraft.id}}  </td>
            <th scope="row"><img  src="\templates\Images\{{aircraft.cover_image}}"  width="100" height="100"></th><!---->
            
            <td>{{aircraft.title}}</td>
            <td>{{aircraft.year}}</td>
            <td>{{aircraft.color}}</td>
            <td>
            
            
            <script type="text/javascript">
                function numberWithCommas(num) {
                    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
                document.write(numberWithCommas({{aircraft.price}}));
            </script>
            </td>
           
            
            <td><a href="/aircraft/{{aircraft.id}}" class="btn btn-info" >Go To Advert</a></td>
            <td><a href="/editaircraft/{{aircraft.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deleteaircraft/{{aircraft.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>

        {% endfor %}
        
        </tbody>
    </table> 
<!--
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Color</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for aircraft in aircrafts %}
        <tr>
            <th scope="row">{{aircraft.id}}</th>
            <td><a href="/aircraft/{{aircraft.id}}">{{aircraft.title}}</a></td>
            <td>{{aircraft.year}}</td>
            <td>{{aircraft.color}}</td>
            <td><a href="/editaircraft/{{aircraft.id}}" class = "btn btn-success">Update</a></td>
            <td><a href="/deleteaircraft/{{aircraft.id}}" class = "btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        
        
        </tbody>
    </table> -->
{% else %}
{% endif %}
<br><br><br><br><br><br>
      

{% endblock body %}